.furniture-and-decor {
    margin: 90px 0 90px 0;
}

.furniture-and-decor img {
    margin: 50px 0 50px 0;
}

.furniture {
    display: flex;
    flex-direction: row;
    align-items: center;
    margin-bottom: 30px;
}

.line {
    width: 250px;
    height: 2px;
    background-color: black;
    margin-top: -12%;
}

.description {
    margin: 0 30px 0 30px;
}

h3 {
    font-size: 48pt;
    letter-spacing: 5px;
    margin-bottom: 30px;
    transform: scale(1, 0.80);
}

.description p {
    font-size: 14pt;
    text-transform: none;
    font-family: "ProximaNova-Regular";
    font-weight: normal;
    margin-bottom: 30px;
}

.description a {
    letter-spacing: 5px;
	position: relative;
	color: black;
	cursor: pointer;
	line-height: 1; 

}
.description a:after {
	display: block;
	position: absolute;
	left: 0; 
	width: 0;
	height: 2px; 
	background-color: black;
	content: "";
	transition: width 0.6s ease-out; 
}

.description a:hover:after,
.description a:focus:after {
	width: 100%; 
}

.soap {
    color: gray;
    font-size: 102pt;
    letter-spacing: 15px;
    transform: scale(1, 0.80);
    opacity: 0.1;
    text-align: center;
    margin-bottom: 30px;
}

.decor {
    display: flex;
    flex-direction: row;
    align-items: center;
    text-align: right;
}

.scrolling {
    display: flex;
    flex-direction: column;
    position: fixed;
    bottom: 20vh;
    right: 30px;
    transition: 0.6s;
    visibility: hidden;
}

.scrolling:hover {
    opacity: 0.5;
}

.scrolling:hover .up-arrow {
    margin-bottom: 40px;
}

.scrolling:hover .down-arrow{
    margin-bottom: 55px;
    margin-top: 45px;
}

.scrolling .mouse-scroll {
    margin: 0;
    filter: invert(1);
    transition: 0.6s;
}

.scrolling button {
    margin: -35px 0 -35px 0;
    border: none;
    background-color: transparent;
}

.scrolling button:focus {
    outline: none;
}

.arrow {
    margin: 0;
    filter: invert(1);
}

.up-arrow {
    transform: rotate(180deg);
    transition: 0.6s;
}

.down-arrow {
    transition: 0.6s;
}

.white-up-arrow {
    filter: brightness(0) invert(1);
    transition: 0.6s;
}

.white-down-arrow {
    filter: brightness(0) invert(1);
    transition: 0.6s;
}

@media (min-width: 1400px) {
    .scrolling {
        bottom: 25vh;
    }
}

@media (min-width: 1600px) {
    .scrolling {
        bottom: 30vh;
    }
}

@media (min-width: 1920px) {
    .scrolling {
        bottom: 35vh;
    }
}